.loginForm {
  margin: auto;
}

.correct-input:focus {
  outline: none;
  border: 3px solid;
  border-image: linear-gradient(
      94deg,
      rgba(42, 155, 51, 1) 0%,
      rgba(43, 130, 84, 1) 51%,
      rgba(51, 242, 34, 1) 100%
    )
    1;
}

.wrong-input:focus {
  outline: none;
  border: solid 3px;
  border-image: linear-gradient(
      90deg,
      rgba(237, 43, 43, 1) 0%,
      rgba(245, 94, 29, 1) 55%,
      rgba(252, 176, 69, 1) 100%
    )
    1;
}
